@import '../general/media-queries.scss';

.infoLugar{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include media-query-mobile(){
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    @include media-query-tablet-pequena(){
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    @include media-query-tablet-grande(){
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

#mapa{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#formulario{
    background-color: $secundario;
    border-radius: 10px;
    border-style: dotted;
    border-color: $primario;
    border-width: 3px;
    height: 430px;
    width: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Libre Baskerville Regular',serif;
    @include media-query-mobile(){
        height: 430px;
        width:96%;
        margin-left: 0;
    }
    @include media-query-tablet-pequena(){
        height: 430px;
    }
    @include media-query-tablet-grande(){
        height: 430px;
    }
    h2{
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

#lugaresReserva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    label{
        margin-right: 10px;
    }
}

.campoForm{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville Regular',serif;
    padding-left: 10px;
    border-color: $borde-campos;
    border-style: solid;
    @include media-query-mobile(){
        width: 300px;
        font-size: 15px;
    }
    @include media-query-tablet-pequena(){
        width: 300px;
        font-size: 15px;
    }
    @include media-query-tablet-grande(){
        width: 300px;
        font-size: 15px;
    }
}

#textoForm{
    border-radius: 10px;
    font-family: 'Libre Baskerville Regular',serif;
    padding-left: 10px;
    border-color: $borde-campos;
    border-style: solid;
}

#areaForm{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include media-query-tablet-pequena(){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include media-query-tablet-grande(){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#botonEnviar{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 15px;
    color: black;
    background-color: beige;
    border-radius: 5px;
    border-color: $borde-campos;
    border-style: solid;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    &:hover{
        background-color: $borde-campos;
        font-weight: bold;
    }
    &:active{
        background-color: $enviar-activo;
        border-color: $enviar-activo;
        font-weight: bold;
        color: white;
    }
}

#mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    iframe{
        width: 600px;
        height: 500px;
        border-radius: 10px;
        @include media-query-mobile(){
            width: 350px;
            height: 250px;
        }
        @include media-query-tablet-pequena(){
            width: 400px;
            height: 300px;
        }
        @include media-query-tablet-grande(){
            width: 400px;
            height: 300px;
        }
    }
}

#estiloMapa{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
