@import '../general/media-queries.scss';

footer{
    background-color: $layoutc;
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Libre Baskerville Regular', serif;
    p{
        display: inline;
    }
    ul{
        @include media-query-mobile(){
            padding-left: 0;
        }
        @include media-query-tablet-pequena(){
            padding-left: 0;
        }
        @include media-query-tablet-grande(){
            padding-left: 0;
        }
    }
    @include media-query-mobile(){
        height: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include media-query-tablet-pequena(){
        padding-top: 30px;
    }
    @include media-query-tablet-grande(){
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
}
#footer_ubicacion{
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        height:20px;
        width:20px ;
    }
}
#link-mail{
    height: 30px;
    width: 40.5px;
}

#link-insta{
    height:30px;
    width: 30px;
}

.links{ 
    margin-top: 50px;
}

.encabezado{
    text-decoration: none;
    color: black;
}

.itemE{
    display: inline;
    margin-left: 10px;
    @include media-query-mobile(){
        display: block;
    }
}
