@import '../general/media-queries.scss';

.navbar{
    padding: 0;
    @include media-query-mobile(){
        z-index: 3;
    }
    @include media-query-tablet-pequena(){
        z-index: 3;
    }
    @include media-query-tablet-grande(){
        z-index: 3;
    }
}

.container-fluid{
    background-color: $layoutc;
    height: 75px;
    width: 100%;
    position: sticky;
    @include media-query-mobile(){
        justify-content: center;
    }
}

.navbar-brand{
    margin-left: 20px;
    font-family: 'Marcellus', serif;
    font-weight: bold ;
    font-size: 50px;
    @include media-query-mobile(){
        margin-left: 100px;
    }
    @include media-query-tablet-pequena(){
        margin-left: 280px;
    }
}

#navbarNavAltMarkup{
    justify-content: flex-end;
    font-family: 'Libre Baskerville Regular',serif;
    font-weight: bold;
    color: black;
    @include media-query-mobile(){
        z-index: 2;
    }
    @include media-query-tablet-pequena(){
        z-index: 2;
    }
    @include media-query-tablet-grande(){
        z-index: 2;
    }
}

.navbar-toggler{
    border: 0 !important;
}        

.navbar-nav{
    @include media-query-mobile(){
        padding: 5px;
        background-color: $layoutc;
    }
    @include media-query-tablet-pequena(){
        padding: 5px;
        background-color: $layoutc;
    }
    @include media-query-tablet-grande(){
        padding: 5px;
        background-color: $layoutc;
    }
}

.nav-link:hover{
    transform: scale(1.07,1.07);
}