
*{
    margin:0;
    padding: 0;
}


@font-face{
    font-family: 'Marcellus';
    src: url(../fuentes/Marcellus/Marcellus-Regular.ttf);
}

@font-face{
    font-family: 'Libre Baskerville Regular';
    src: url(../fuentes/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

.navbar{
    padding: 0;
}
.container-fluid{
    background-color: 9bb8c1;
    height: 75px;
    width: 100%;
    position: sticky;
}

.navbar-brand{
    margin-left: 20px;
    font-family: 'Marcellus', serif;
    font-weight: bold ;
    font-size: 50px;
}

#navbarNavDropdown{
    display: flex;
    justify-content: flex-end;
    font-family: 'Libre Baskerville Regular',serif;
    font-weight: bold;
    color: black;
}

.navbar-toggler{
    border: 0 !important;
}

footer{
    background-color: 9bb8c1;
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Libre Baskerville Regular', serif;
}

footer p{
    display: inline;
}

#footer_ubicacion{
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer_ubicacion img{
    height:20px;
    width:20px ;
}

#link-mail{
    height: 30px;
    width: 40.5px;
}

#link-insta{
    height:30px;
    width: 30px;
}

.links{ 
    margin-top: 50px;
}

.encabezado{
    text-decoration: none;
    color: black;
}

.itemE{
    display: inline;
    margin-left: 10px;
}

.carousel-item{
    height: 500px;
    width: 100%;
}

.carousel-item h5{
    z-index: 1;
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: 'Marcellus',serif;
}

.carousel-item p{
    z-index: 1;
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Marcellus',serif;
}

.carousel-item img{
    object-fit: cover;
}

.imagen-carousel{
    filter: blur(3px);
}


.seccion-main{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: 
    "titulo_inicio imagen_inicio"
    "titulo_inicio imagen_inicio"
    "titulo_inicio imagen_inicio";
    background-color: ffedda;
    font-family: 'Libre Baskerville Regular',serif;
    
}

.seccion-main_titulo{
    grid-area: titulo_inicio;
    padding-top: 50px;  
}

.seccion-main_imagen{
    grid-area: imagen_inicio;
}

.seccion-main h1{
    margin-left: 50px;
    font-size: 45px;
}

.seccion-main p{
    margin-left: 50px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.seccion-main img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 50px;
}

.seccion-main a{
    margin-left: 50px;
    text-decoration: underline;
    color: black;
    font-family: 'Libre Baskerville Regular', serif;
    font-size: 20px;
}

.color{
    background-color: e9cfc9;
}

.titulos{
    height: 250px;
    width: 100%;
    background-image: url('../imagenes/carrusel.png');
    display:flex;
    align-items: center;
    justify-content: center;
}

.titulos h1{
    font-family: 'Marcellus', serif;
    font-size: 100px;
    font-weight: bold;
}

.producto{
    height: 280px ; 
    width: 230px;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    padding: 10px ;
    background-color: e9cfc9;
    font-size: 14px ;
    border-radius: 10px;
}

.producto img{
    width: 175px;
    height: 175px;
    margin-top: 15px;
}

.producto h2{
    margin-top: 10px ;
    text-align: center;
    font-family: 'Libre Baskerville Regular', serif ;
    font-size: 18px ;
    font-weight: bold;
    margin-bottom: 0;
}

.producto p{
    text-align: center;
    font-family: 'Libre Baskerville Regular',serif ;
    font-size: 16px ;
}

.categoria{
    display: flex;
    flex-direction: column;
}

.categoria h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville Regular', serif;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonArriba{
    text-decoration: none;
    color: 9bb8c1;
    font-weight: bold;
    font-family: 'Libre Baskerville Regular', serif;
    border-style: solid;
    border-color: 9bb8c1;
    border-width: 3px;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

.botonArriba:hover{
    background-color: 9bb8c1;
    color: white;
    font-weight: bold;
}

.botonArriba:active{
    background-color: 5c6e75;
    border-color: 5c6e75;
    color: white;
    font-weight: bold;
}

.botonVolver{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.combinaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.combos h1{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10pxs;
    font-weight: bold;
}

.combos h2{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10pxs;
}


.opcion h1{
    font-size: 30px;
    margin: 15px;
    text-align: center;
}

.opcion{
    font-family: 'Libre Baskerville Regular',serif;
    background-color: e9cfc9;
    height: 250px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

.opcion ul{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}


#lectura p{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#lectura ul{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}

#lectura img{
    height: 400px;
    width: 327px;
}

#lectura{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoLugar{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20pxs;
}

#mapa{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#formulario{
    background-color: e9cfc9;
    border-radius: 10px;
    border-style: dotted;
    border-color: ffedda;
    border-width: 3px;
    height: 430px;
    width: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;
    font-family:'Libre Baskerville Regular',serif;
}

#lugaresReserva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#lugaresReserva label{
    margin-right: 10px;
}


#formulario h2{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.campoForm{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville Regular',serif;
    padding-left: 10px;
    border-color: #dbb2a9;
    border-style: solid;
}

#textoForm{
    border-radius: 10px;
    font-family: 'Libre Baskerville Regular',serif;
    padding-left: 10px;
    border-color: #dbb2a9;
    border-style: solid;
}

#areaForm{
    justify-content: space-between;
}

#botonEnviar{
    font-family: 'Libre Baskerville Regular',serif;
    font-size: 15px;
    color: black;
    background-color: beige;
    border-radius: 5px;
    border-color: #dbb2a9;
    border-style: solid;
    height: 30px;
    width: 80px;
    margin-top: 20px;
}

#botonEnviar:hover{
    background-color: #dbb2a9;
    font-weight: bold;
}

#botonEnviar:active{
    background-color: #c9a197;
    border-color: #c9a197;
    font-weight: bold;
    color: white;
}

#mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapa iframe{
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

#estiloMapa{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

@media (max-width: 480px){
    *{
        margin:0;
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
    .container-fluid{
        background-color: 9bb8c1;
        height: 75px;
        width: 100%;
        position: sticky;
    }
    
    .navbar-brand{
        margin-left: 105px;
        font-family: 'Marcellus', serif;
        font-weight: bold ;
        font-size: 50px;
    }
    
    #navbarNavDropdown{
        display: flex;
        justify-content: flex-end;
        font-family: 'Libre Baskerville Regular',serif;
        font-weight: bold;
        color: black;
    }
    
    .navbar-toggler{
        border: 0 !important;
    }

    .navbar-nav{
        padding: 5px;
        background-color: 9bb8c1;
    }


    footer{
        height: 260px;
        text-align: center;
        padding-top: 30px;
    }

    footer ul{
        padding-left: 0;
    }

    
    .itemE{
        display: block;
    }

    .carousel-item{
        height:206.78px;
        width: 100%;
    }
    

    .carousel-item h5{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: black;
        font-family: 'Marcellus',serif;
    }
    
    .carousel-item p{
        z-index: 1;
        text-align: center;
        font-size: 16px;
        color: black;
        font-family: 'Marcellus',serif;
    }
    
    .carousel-item img{
        object-fit: cover;
    }
    
    .imagen-carousel{
        filter: blur(3px);
    }

    .imgTres{
        filter: blur(3px);
    }
    
    .seccion-main{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sobre-nosotros{
        height: 450px;
    }
    
    .seccion-main_titulo{
        padding-top: 20px;  
    }
    
    .seccion-main h1{
        margin-left: 20px;
        font-size: 35px;
    }
    
    .seccion-main p{
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
    .seccion-main img{
        height: 200px;
        width: 200px;
        margin-top: 10px;
        justify-self: center;
        margin-left: 0;
    }
    
    .seccion-main a{
        text-decoration: underline;
        color: black;
        font-family: 'Libre Baskerville Regular', serif;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .color{
        background-color: e9cfc9;
    }

    .titulos{
        height: 200px;
    }
    
    .titulos h1{
        font-size: 50px;
        text-align: center;
    }

    #lectura p{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #lectura ul{
        font-family: 'Libre Baskerville Regular',serif;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .infoLugar{
        font-family: 'Libre Baskerville Regular',serif;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20pxs;
    }

    #mapa iframe{
        width: 350px;
        height: 250px;
        border-radius: 10px;
    }

    #areaForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #formulario{
        height: 430px;
        width:96%;
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        font-family:'Libre Baskerville Regular',serif;
    }
    
    
    .campoForm{
        height: 50px;
        width: 300px;
        border-radius: 10px;
        margin-bottom: 10px;
        font-family: 'Libre Baskerville Regular',serif;
        font-size: 15px;
        padding-left: 10px;
        border-color: #dbb2a9;
        border-style: solid;
    }
    
    #textoForm{
        border-radius: 10px;
        font-family: 'Libre Baskerville Regular',serif;
        padding-left: 10px;
        border-color: #dbb2a9;
        border-style: solid;
    }
    
    
    #botonEnviar{
        font-family: 'Libre Baskerville Regular',serif;
        font-size: 15px;
        color: black;
        background-color: beige;
        border-radius: 5px;
        border-color: #dbb2a9;
        border-style: solid;
        height: 30px;
        width: 80px;
        margin-top: 20px;
    }

}